.datepicker
{
    text-align: center;
    }
input{
        height: 40px;
        width: 250px;
        font-size: 18px;
        color: #417949;
    }
    p{
        color:rgb(57, 57, 233)
    }